services:

  imagemagick:
    platform: linux/amd64
    command: /root/build.sh
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/output

  imagemagick-clang17:
    platform: linux/amd64
    command: /root/build.sh
    build:
      context: .
      dockerfile: Dockerfile-clang17
    volumes:
      - .:/output

  imagemagick-clang18:
    platform: linux/amd64
    command: /root/build.sh
    build:
      context: .
      dockerfile: Dockerfile-clang18
    volumes:
      - .:/output

  imagemagick-clang19:
    platform: linux/amd64
    command: /root/build.sh
    build:
      context: .
      dockerfile: Dockerfile-clang19
    volumes:
      - .:/output

  imagemagick-clang20:
    platform: linux/amd64
    command: /root/build.sh
    build:
      context: .
      dockerfile: Dockerfile-clang20
    volumes:
      - .:/output
      
  imagemagick-arm64:
    platform: linux/arm64
    command: /root/build.sh
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/output

  imagemagick-clang17-arm64:
    platform: linux/arm64
    command: /root/build.sh
    build:
      context: .
      dockerfile: Dockerfile-clang17
    volumes:
      - .:/output

  imagemagick-clang18-arm64:
    platform: linux/arm64
    command: /root/build.sh
    build:
      context: .
      dockerfile: Dockerfile-clang18
    volumes:
      - .:/output

  imagemagick-clang19-arm64:
    platform: linux/arm64
    command: /root/build.sh
    build:
      context: .
      dockerfile: Dockerfile-clang19
    volumes:
      - .:/output

  imagemagick-clang20-arm64:
    platform: linux/arm64
    command: /root/build.sh
    build:
      context: .
      dockerfile: Dockerfile-clang20
    volumes:
      - .:/output
